<div class="${theme}" role="presentation">
    <div class="${css.container}">
        <div data-dojo-attach-point="_mapparcelsearchNode" class="ShareDialog pageBody">
            <div class="share-dialog-subheader">Map</div>
            <input tabindex="0" autofocus="" type="text" data-dojo-attach-point="_mapSearchText" id="txtBoxMapSearch" />
            <p />
            <div class="share-dialog-subheader">Parcel</div>
            <input tabindex="1" autofocus="" type="text" data-dojo-attach-point="_parcelSearchText" id="txtBoxParcelSearch" />
            <p />
            <button tabindex="2" data-dojo-type="dijit/form/Button" id="mapparcelsearchParcelBtn" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconCut'" type="button" data-dojo-attach-point="_mapparcelSearchTextClick">
                Search
            </button>
        </div>
    </div>
</div>